/*importando a fonte*/
@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh; /*ocupar 100 partes da tela*/
  justify-content: center; /*alinha na horizontal*/
  align-items: center; /*alinha na vertical*/
  text-align: center; /*alinhar texto center*/

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 43)); /*gradiente do site uigradients*/
}
